.graficoContainer {
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interacoesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interacoes {
  width: 90%;
}